# Ignore IDEs folders...
.idea/
# Ignore files by extension...
*.iso
# Ignore locks, bin, envs...
composer
composer.lock


### @Bootgly ###

## Global folders
# Excluded
**/&

## Root folders
# Boot
@/*
